<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #loginForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input id="email-input" name="email" type="email"
        [(ngModel)]="email"
        #emailInput=ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input id="password-input" name="password" type="password"
       [(ngModel)]="password"
       #passwordInput=ngModel
       required
      ></ion-input>
    </ion-item>
  </ion-list>
</form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="signin-button" expand="full"
      (click)="seConnecter()" [disabled]="!loginForm.form.valid">
      Se connecter
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
